a{
  color: black;
  text-decoration: none;
}
a:hover{
  color: black;
  text-decoration: none;
}

.link{
  color: blue;
}

.link:hover{
  color: #ffad16;
}

 i{
  color: #e8ba3e !important;
}
.card-body{
  background: white !important;
}
input{
  width: 100%;
  padding:0.5rem 1rem;
  outline: none;
}
.login .card-body{
  background: #fff !important;
}
.header{
  z-index: 1001;
  position: relative;
}
.footer{
  z-index: 100000;
  position: relative;
}
@media (min-width: 1025px) {
  .h-custom {
  height: 100vh !important;
  }
  }


  /* shipping css */
  .text-font{
    font-family: futura-pt,Tahoma,Geneva,Verdana,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: .156rem;
    font-size: 1.125rem;
    }
    .text-price{
    padding: 0 .625rem;
    font-family: futura-pt,Tahoma,Geneva,Verdana,Arial,sans-serif;
    font-style: normal;
    font-size: .75rem;
    font-weight: 700;
    line-height: .813rem;
    letter-spacing: 1.6px;
    }
    .text-descriptions{
    font-family: futura-pt,Tahoma,Geneva,Verdana,Arial,sans-serif;
    font-style: normal;
    font-size: .75rem;
    font-weight: 400;
    line-height: 1.125rem;
    margin: .313rem 0 .938rem;
    padding: 0 .625rem;
    }
    .button-color{
    color: #4e4e4e ;
    border-color: #4e4e4e ;
    }
    .button-order{
    font-family: futura-pt,Tahoma,Geneva,Verdana,Arial,sans-serif;
    font-style: normal;
    font-size: .75rem;
    font-weight: 700;
    background-color: hsl(90, 40%, 50%);
    color: white;
    }
  